name: "Feature CI"

on:
  push:
    branches-ignore:
      - main # ignore main branch, all other branches are feature branches

jobs:
  ci-build:
    name: Build and Test
    runs-on: unbuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dptmet test --no-build verbosity normal /p:CollectCoverage=true
